/** 用来放置全局样式 */
@import '~antd/dist/antd.css';
.ant-layout-header{
  background-color: #fff;
}

*{
  text-align: center;
}

input {
  margin-top: 10px;
  text-align: left;
}
.inline-block{
  display: inline-block;
  width: 400px;
}
