@import '~antd/dist/antd.css';

*{
  font-family:'Times New Roman', Times, serif;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
  &:hover{
    color: #000;
  }
}

ul{
  li{
    list-style: none;
  }
}
#root{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &> .ant-layout-content{
    padding: 0 15px;
  }
  .content{
    position: absolute;
    visibility: hidden;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    background-color: #fff;
    transform: translate(-50%,-50%);
    transition: width 500ms,height 500ms, opcity 500ms;
    &.show{
      opacity: 1;
      width: 100vw;
      height: 100vh;
      visibility: visible;
    }
    button{
      float: right;
      margin-top: 10px;
      margin-right: 15px;
    }
    &.hidden{
      opacity: 0.3;
      width: 50vw;
      height: 50vh;
    }
  }
  .componentsWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
